 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>
                        Formado em Análise de sistemas e cursando MBA em Desenvolvimento Mobile, gosto de inovar e empreender novas ideias.
                    </p>
                    <p>
                        Trabalhei na empresa StarSoft no período de 2012 a 2015 no departamento de desenvolvimento do produto interno ERP e consultoria do sistema ERP. 
                    </p>
                    <p>
                        Trabalhei na empresa GTI Consultoria no período de 2015 a 2017 no departamento de desenvolvimento do produto interno e consultoria do sistema ERP, responsável pelo desenvolvimento dos portais em MVC, customizações no ERP.
                    </p>
                </div>
                <div class="col-lg-5">
                    <p>
                        Trabalhei na empresa SevenIt no período de 2017 a 2018 no departamento de desenvolvimento do portal de chamados, controle de produtividade, controle de contratos e integrações com sistemas de terceiros.
                    </p>
                    <p>
                        Participei no período 2018 a 2020 na Startup Wooboogie do ramo Crowdshipping, onde atuei como desenvolvedor full stack.
                    </p>
                    <p>
                        Fundei a empresa SIC360 no período 2018 a 2020 onde prestavamos serviços de Desenvolvimento, Cloud, Infra, Licenciamento e Consultoria.
                    </p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <a href="{{ site.urlcv }}" class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-file-text-o"></i> &nbsp; Currículo
                    </a>
                </div>
            </div>
        </div>
    </section>
